{%extends 'base.html'%}

{%block title%}Dashboard{%endblock%}

{%block content%}

<!-- left side -->
<div class="row">
    <div class="span6">
        <div class="card">
            <h5 class="card-header"></h5>
            <div class="card-body">
                <div class="">
                    <div class="h5">Welcome {{user.first_name}},</div>
                    <div class="span3">
                        <img src="..." class="rounded float-left" alt="...">
                        <h6>View My:</h6>
                        <a href="#"> Profile</a>
                        <a href="#">Blog</a>
                        <a href="#">Bulletin</a>
                        <a href="#">Forum</a>
                        <a href="#">Topics</a>
                        <a href="#">Comments</a>
                        <a href="#">Friends</a>
                        <a href="#">Blocked Users</a>

                    </div>
                    <div class="span1">
                        <a href="#"> Edit Profile</a>
                        <a href="#">Edit Status</a>
                        <a href="#">Add/Edit Photo</a>
                        <a href="#">Account Settings</a>
                        <a href="#">Manage Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="span6">
            <div class="card">
                <h5 class="card-header">Posts</h5>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <div class="h5">All posted posts</div>
                        <div class="links">
                            <a href="/posts/new"> +Create</a>
                            <a href="/users/{{user.id}}/account">Account</a>
                            <a href="/users/logout">Logout</a>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Post Name</th>
                                <th>Posted By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                            <tr>
                                <td>{{ post.title }}</td>
                                <!-- to obtain the user name for the person who made the post -->
                                <td>{{ post.user.first_name }}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="/posts/{{post.id}}">view
                                        post</a>
                                    {% if post.user_id == session.user_id %}
                                    <div class="card-footer ">
                                        <a class="btn btn-sm btn-warning me-2" href="/posts/{{ post.id }}/edit">Edit</a>
                                        <a class="btn btn-sm btn-danger" href="/posts/{{ post.id }}/delete">Delete</a>
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- card for messages -->
    <div class="row">
        <div class="span3">
            <div class="card">
                <div class="card-header">
                    <div class="h2">My Mail</div>
                    <div class="card-body">
                        <div class="link">
                            <a href="#"> instant messages</a>
                            <a href="#">bulletins</a>
                            <a href="#">send message</a>
                            <a href="#">post bulletin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of messages -->
        

    </div>
    {%endblock%}