<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <title>New Post</title>
</head>

<body>
    <div class="container">
        <!-- beginning of navbar -->
        <nav class="navbar navbar-expand-lg mb-3" style="background-color: #e3f2fd;">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Posts!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/posts">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/new">Create post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Logout</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> -->
                </ul>
            </div>
            </div>
        </nav>
        <!-- end of navbar -->

        <div class="row">
            <div class="col">
                <h1>Add a Post</h1>
            </div>
            <div class="col">
                <a href="/posts">Dashboard</a>
                <a href="/users/logout">Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {% with messages = get_flashed_messages(with_categories = true) %}
                        <form action="/posts" method="post">
                            <!-- must add hidden id  -->
                            <input type="hidden" name="user_id" value="{{ session.user_id }}">
                            
                            <!-- portion for title -->
                            <div class="mb-3">
                                <label for="title" class="form-label">Title:</label>
                                <textarea name="title" id="title" class="form-control"></textarea>
                                {% if messages %}
                                    {% for category, message in messages %}
                                        {% if category == 'title' %}
                                        <span class="form-text text-danger">{{ message }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <!-- portion for description  -->
                            <div class="mb-3">
                                <label for="description" class="form-label">Description:</label>
                                <textarea name="description" id="description" class="form-control"></textarea>
                                {% if messages %}
                                    {% for category, message in messages %}
                                        {% if category == 'description' %}
                                        <span class="form-text text-danger">{{ message }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                            <!-- portion for button -->
                            <div class="d-flex justify-content-end">
                                <input type="submit" value="SUBMIT" class="btn btn-primary">
                            </div>
                        </form>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>