{%extends 'base.html'%}
{%block title%}One User{%endblock%}

{%block content%}


        <div class="row">
            <div class="span6">
                <!-- form to edit User -->
                <div class="card">
                    <div class="cardheader">
                        <h3>Update User</h3>
                    </div>
                    <div class="card-body">
                        {% with messages = get_flashed_messages (with_categories = true) %}
                        <form action="/users/{{user.id}}/update" method="post">
                            <input type="hidden" name="id" value="{{user.id}}">
                            <!-- username -->
                            <div class="mb-3">
                                <label for="username" class="form-label">Username:</label>
                                <input type="text" name="username" id="username" value="{{user.username}}"
                                    class="form-control">
                                {% if messages %}
                                {% for category, message in messages %}
                                {% if category == 'username'%}
                                <span class="form-text text-danger">{{message}}</span>
                                {% endif%}
                                {% endfor%}
                                {% endif%}
                            </div>

                            <!-- first name -->
                            <div class="mb-3">
                                <label for="first_name" class="form-label">First name:</label>
                                <input type="text" name="first_name" id="first_name" value="{{user.first_name}}"
                                    class="form-control">
                                {% if messages %}
                                {% for category, message in messages %}
                                {% if category == 'first_name'%}
                                <span class="form-text text-danger">{{message}}</span>
                                {% endif%}
                                {% endfor%}
                                {% endif%}
                            </div>
                            <!-- last name -->
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Last name:</label>
                                <input type="text" name="last_name" id="last_name" value="{{user.last_name}}"
                                    class="form-control">
                                {% if messages %}
                                {% for category, message in messages %}
                                {% if category == 'last_name'%}
                                <span class="form-text text-danger">{{message}}</span>
                                {% endif%}
                                {% endfor%}
                                {% endif%}
                            </div>
                            <!-- email   -->
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="text" name="email" id="email" value="{{user.email}}" class="form-control">
                                {% if messages %}
                                {% for category, message in messages %}
                                {% if category == 'email'%}
                                <span class="form-text text-danger">{{message}}</span>
                                {% endif%}
                                {% endfor%}
                                {% endif%}
                            </div>
                            <!-- button -->
                            <div class="d-flex justify-content-end">
                                <input type="submit" value="UPDATE" class="btn btn-primary">
                            </div>
                        </form>
                        {% endwith%}
                        <!-- end of form to edit User -->
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="card">
                    <div class="card-body">
                        <div class="cardheader mb-3">
                            <h4>{{user.first_name}}'s Posts</h4>
                        </div>
                        <!--  table with all posts     -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Created_At</th>
                                    <th>Updated_At</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- joining table need to make sure you are calling through correct table  -->
                                {% for post in user.posts %}
                                <tr>
                                    <td>{{ post.title }}</td>
                                    <td>{{ post.description}}</td>
                                    <td>{{post.created_at }}</td>
                                    <td>{{post.updated_at }}</td>
                                    <td>
                                        {% if post.user_id == session.user_id %}
                                        <div class="card-footer ">
                                            <a class="btn btn-sm btn-danger"
                                                href="/posts/{{ post.id }}/delete">Delete</a>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end of table    -->
        </div>
    </div>
    {%endblock%}