{%extends 'base.html'%}
{%block title%}New Post{%endblock%}

{%block content%}

<!-- end of navbar -->

<div class="row">
    <div class="col">
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <div class="mb-3 d-flex justify-content-between">
                    <h5>{{post.title}}</h5>
                    <h5>Posted by: {{ post.user.first_name }}</h5>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title:</th>
                            <th>Posted By:</th>
                            <th>Description:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ post.title }}</td>
                            <td>{{ post.user.first_name }}</td>
                            <!-- to obtain the user name for the person who made the post -->
                            <td>{{ post.description}}</td>
                        </tr>
                    </tbody>
                </table>
                {% if post.user_id == session.user_id %}
                <div class="card-footer d-flex justify-content-end">
                    <a class="btn btn-sm btn-warning me-2" href="/posts/{{ post.id }}/edit">Edit</a>
                    <a class="btn btn-sm btn-danger" href="/posts/{{ post.id }}/delete">Delete</a>
                </div>
                {% endif %}
                </form>

            </div>
        </div>
    </div>
</div>
{%endblock%}